<div class="edit-note">
	<h1 class="edit-note-title">整備記録編集</h1>
	<%= current_user.user_name %>
		<%= form_for(@note) do |f| %>
			<div class="edit-box">
				<div class="field">
					<%= f.label :題名 %><br>
					<%= f.text_field :title, autocomplete: "題名", class:"edit-input" %>
				</div>

				<div class="field">
					<%= f.label :本文 %><br>
					<%= f.text_area :introduction, autocomplete: "本文", class:"edit-input" %>
				</div>

			    <div class="field">
	    			<%= f.label :整備記録画像 %><br>
	    			<%= f.attachment_field :image, autocomplete: "画像", class:"" %>
	    		</div>
	    	</div>

	    	<div class="actions">
    			<%= f.submit "更新", class:"edit-button" %>
    		</div>
		<% end %>
</div>

<div class="destroy">
	<%= link_to "削除", note_path(@note.id), method: :delete %>
</div>