<div class="image">
	<%= image_tag("car6.jpg", :class => "image-size-top") %>
</div>
<div class="note-show">
	<h3>Post note</h3>
	<%= current_user.user_name %>
		<%= form_for(@note) do |f| %>
			<div class="note-new-box">
				<div class="field">
					<%= f.label :題名 %><br>
					<%= f.text_field :title, autocomplete: "題名", class:"note-title-input form-control" %>
				</div>

				<div class="field">
					<%= f.label :本文 %><br>
					<%= f.text_area :introduction, autocomplete: "本文", class:"note-introduction-input" %>
				</div>

			    <div class="field">
	    			<%= f.label :整備記録画像 %><br>
	    			<%= f.attachment_field :image, autocomplete: "画像", class:"" %>
	    		</div>
	    	</div>

	    	<div class="actions">
    			<%= f.submit "投稿", class:"note-button btn btn-primary" %>
    		</div>
		<% end %>
</div>