<div class="image">
	<%= image_tag("car.new.jpg", :class => "image-size-top") %>
</div>
<div class="product">
	<h3 class="edit-title">Edit car</h3>
		<%= form_for(@car) do |f| %>
			<div class="edit-box">
				<div class="field">
					<%= f.label :メーカー %><br>
					<%= f.select :maker, Car.makers.keys, class:"edit-input" %>
				</div>

				<div class="field">
					<%= f.label :車種 %><br>
					<%= f.text_field :car_model, autocomplete: "車種", class:"edit-input form-control" %>
				</div>

				<div class="field">
					<%= f.label :型式 %><br>
					<%= f.text_field :model_code, autocomplete: "型式", class:"edit-input form-control" %>
				</div>

				<div class="field">
					<%= f.label :ボディタイプ %><br>
					<%= f.text_field :body_type, autocomplete: "ボディタイプ", class:"edit-input form-control" %>
				</div>

				<div class="field">
					<%= f.label :グレード %><br>
					<%= f.text_field :grade, autocomplete: "グレード", class:"edit-input form-control" %>
				</div>

				<div class="field">
					<%= f.label :色 %><br>
					<%= f.select :color, Car.colors.keys, class:"edit-input" %>
				</div>

				<div class="field">
					<%= f.label :紹介文 %><br>
					<%= f.text_area :introduction, autocomplete: "紹介文", class:"edit-input car-introduction-input" %>
				</div>

			    <div class="field">
	    			<%= f.label :愛車画像 %><br />
	    			<%= f.attachment_field :image, autocomplete: "愛車画像", class:"" %>
	    			<!-- attacumentを使うときはモデルにattachmentを記載すること -->
	    		</div>
	    	</div>

	    	<div class="actions">
    			<%= f.submit "更新", class:"edit-button btn btn-default" %>
    		</div>
		<% end %>
</div>

<div class="destroy">
	<%= link_to "削除", car_path(@car.id), method: :delete %>
</div>