<div class="image">
	<%= image_tag("car.new.jpg", :class => "image-size-top") %>
</div>
<div class="product">
<h3>車名: <%= @car.car_model %></h3>
	<%= attachment_image_tag @car, :image, fallback: "no_image_user.jpeg", :class => "car-show-image" %>
	<p>メーカー: <%= @car.maker %></p>
	<p>グレード: <%= @car.grade %></p>
	<p>型式: <%= @car.model_code %></p>
	<p>カラー: <%= @car.color %></p>
	<p><%= simple_format(@car.introduction) %></p>
	<div class="more">
		<%= link_to "情報編集", edit_car_path(@car.id) %>
	</div>